:root {
  --bg-white: #f7f7f7;
  --bg-black: #222;
  --bg-gray: #d3d4d6;
  --call-to-action-1: #592fc2;
  --call-to-action-2: #63a0cc;
}

/* GLOBAL STYLES 
-------------------------- */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* set default to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
body {
  background: var(--bg-white);
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem; /* 10px * 1.7rem = 17px */
  line-height: 1.4;
}

h1,
h2,
h3 {
  font-family: "Fredoka", cursive;
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 7rem;
  line-height: 0.85;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.4rem;
  font-weight: 400;
}

/* links */
a {
  color: var(--call-to-action-1);
  transition: 0.3s;
}
a:hover {
  /* color: var(--bg-black); */
  text-decoration: none;
}
footer a {
  color: var(--call-to-action-2);
}
footer a:hover {
  color: var(--call-to-action-1);
}
.btn {
  background: var(--bg-white);
  color: var(--bg-black);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.35rem;
  display: inline-block;
  padding: 12px 24px;
  letter-spacing: 0.1em;
  line-height: 1;
  border-radius: 12px;
  border: 2px solid var(--call-to-action-1);
}
.btn:hover {
  background: var(--call-to-action-1);
  color: var(--bg-white);
  border: 2px solid transparent;
}

.content-wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 900px;
}
.btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: fit-content;
  padding: 12px 24px;
  margin: 15px 0;
  border: 2px solid var(--call-to-action-2);
  background-color: var(--bg-white);

  color: var(--bg-black);
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  text-decoration: none;
  border-radius: 12px;
  & img {
    width: 24px;
  }
  & div {
    color: var(--body-white);
    margin: 0 10px;
    font-size: 1.35rem;
  }
}

.btn-text:hover {
  border: 2 transparent;
  background-color: var(--call-to-action-2);
  color: var(--bg-white);
}

/* Tooltips */
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: var(--bg-black);
  color: var(--bg-gray);
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.tooltip-bottom {
  top: 105%;
  left: 50%;
  margin-left: -60px;
}
.tooltip-top {
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* HOME
-------------------------- */
.home {
  background: url(../images/bg-gradient.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.home .content-wrapper {
  flex: 1 0 auto;
}
.content-bg {
  background: rgb(255 255 255 / 0.9);
  padding: 30px;
}
@media screen and (max-width: 650px) {
  .home .content-wrapper {
    padding: 10px;
  }
  .content-bg {
    padding: 20px;
  }
  .home {
    background: var(--call-to-action-2);
  }
}

/* RESUME
-------------------------- */
.resume header::before {
  background: linear-gradient(var(--call-to-action-2), var(--bg-white));
  content: "";
  display: block;
  height: 200px;
}
.resume-section {
  margin-bottom: 50px;
}
.resume-section h2 {
  border-bottom: 2px dashed var(--bg-gray);
}
.download-link {
  position: fixed;
  top: 5px;
  left: 5px;
}
@media screen and (max-width: 1200px) {
  .download-link {
    position: absolute;
  }
}
@media screen and (max-width: 500px) {
  .resume header::before {
    height: 200px;
  }
  h1 {
    font-size: 4.3rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

/* Projects
-------------------------- */
.project-item {
  margin: 30px 0;
  border-radius: 12px;
  transition: 0.5s;
  border-radius: 12px;
  text-decoration: none;
  padding: 15px;

  > section {
    display: flex;
  }
  & h3 {
    transition: 0.5s;
    color: var(--bg-black);
  }
  & p {
    transition: 0.5s;
    color: var(--bg-black);
  }
  & .icon-github {
    width: 24px;
    transition: 0.5s;
  }
}
.project-item > img {
  width: 330px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.project-skills {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
  gap: 10px;

  & img {
    width: 24px;
    height: 24px;
  }
}

.project-header {
  display: flex;
  justify-content: space-between;
}
.project-item:hover {
  background-color: var(--bg-gray);

  & h3 {
    color: var(--call-to-action-1);
  }
  .icon-github {
    transform: translateY(-7px);
  }
  > img {
    box-shadow: none;
  }
}
@media screen and (min-width: 860px) {
  .project-item {
    display: flow-root;
  }
  .project-item > img {
    float: left;
    margin-right: 20px;
  }
}
@media screen and (min-width: 650px) and (max-width: 849px) {
  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  .project-item img {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .project-wrapper {
    display: flex;
    flex-direction: column;
  }
  .project-item img {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Work Experience
-------------------------- */
.work-item {
  margin: 30px 0;
}
.work-details p {
  margin: 0;
}
@media screen and (min-width: 860px) {
  .work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
  }
  .work-summary p:first-child {
    margin-top: 0;
  }
}

/* Education
-------------------------- */
.education-item {
  margin: 30px 0;
}
.education-item p {
  margin: 0;
}

/* Skills
-------------------------- */
.skill-category {
  margin: 30px 0;
  & ul {
    list-style-type: none;
    > li {
      font-size: 2rem;
      padding: 0 0 12px;
      margin-bottom: 12px;
      border-bottom: 2px solid var(--bg-gray);
    }
  }
}
.skill-details p {
  margin: 0;
}
.skill-list {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 10px;
}
.skill-logo {
  width: 64px;
}
@media screen and (min-width: 525px) {
  .skill-list {
    display: grid;
    justify-items: center;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 4rem;
  }
  .skill-logo {
    width: 100px;
  }
}

/* Certification Sliding Cards
-------------------------- */
.card-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}
.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
}
.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--bg-black);
  width: 900px;
}
.card > .row > .icon {
  background: var(--bg-white);
  color: var(--bg-black);
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}
.description p {
  color: var(--bg-white);
  padding-top: 5px;
  margin: 0;
  > a:hover {
    color: var(--call-to-action-2);
  }
}
.description h4 {
  text-transform: uppercase;
  margin: 0;
}
input {
  display: none;
}
input:checked + label {
  width: 400px;
}
.card[for="card-css"] {
  background-image: url("/images/bg-css-stock.jpg");
}
.card[for="card-html"] {
  background-image: url("/images/bg-html-stock-2.jpg");
}

@media screen and (max-width: 800px) {
  .card-container {
    flex-direction: column;
    width: 100%;
  }
  .card {
    height: 260px;
    width: 100%;
    margin: 10px 0;
  }
  input:checked + label {
    height: 600px;
    width: 100%;
  }
}

/* FOOTER
-------------------------- */
footer {
  background: var(--bg-black);
  color: var(--bg-gray);
}
.socials {
  list-style-type: none;
  padding: 0;
}
.socials li {
  display: inline-block;
  margin-left: 10px;
}
.socials img {
  width: 32px;
}
.socials img:hover {
  opacity: 50%;
}

@media screen and (min-width: 860px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}
@media screen and (max-width: 859px) {
  footer {
    text-align: center;
    padding: 10px;
  }
}
